A {
    text-decoration: none;
    color: auto;
    cursor: pointer;
}
* {
    box-sizing: border-box;
    margin-bottom: 0px;
}
h1 {
    font-size: 58px;
    letter-spacing: 0.2px;
}
h2 {
    font-size: 40px;
    letter-spacing: 0.2px;
}
h3 {
    font-size: 30px;
    letter-spacing: 0.2px;
}
p {
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 30px;
    margin: 0px;
    word-wrap: break-word!important;
}
.paragrah-desc {
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 25px;
    margin: 0px;
}
body {
    background: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    color: #2D4059!important;
    margin: 0px;
}
.header {
    width: 100%;
    padding: 25px;
    padding-left: 180px;
    padding-right: 180px;
}
.container {
    width: 100%;
    background: none;
    display: flex;
    gap: 40px;
}
.header-brand-name {
    color: #2D4059;
    font-size: 24px;
    line-height: 32px;
    margin: 0px;
    font-weight: 700;
}
.header-list {
    color: #2D4059;
    line-height: 32px;
    height: 32px;
    width: 100%;
}
.header-list a {
    color: #2D4059;
    line-height: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-left: 3%;
    padding-right: 3%;
}
.header-buttons {
    width: auto;
    display: flex;
    margin-top: -9px;
}
.btn-n {
    background: none;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #E77C40;
    width: auto;
    padding: 15px;
    margin-right: 40px;
    cursor: pointer;
}
.btn-d {
    background: #E77C40;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #ffffff;
    width: auto;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}
.btn-d:hover {
    background: #2A7CC7;
}
.btn-d2 {
    background: #FFAB71;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #ffffff;
    width: auto;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}
.btn-d2:hover {
    background: #2A7CC7;
}
.btn-l {
    background: none;
    border-radius: 5px;
    border: 2px solid #E77C40;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #E77C40;
    width: auto;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}
.btn-l:hover {
    background: #2A7CC7;
    color: #ffffff;
    border-color: #2A7CC7;
}
.btn-round {
    background: none;
    border-radius: 40px;
    border: 2px solid #E77C40;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #E77C40;
    width: auto;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    transition: 0.3s;
}
.btn-round:hover {
    background: #2A7CC7;
    color: #ffffff;
    border-color: #2A7CC7;
}
.burger {
    display: none;
    width: 100%;
}

.container2 {
    display: flex;
    gap: 30px;
}
.img1 {
    width: 80%;
}

.container-in-box {
    box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 40px 0px;
    padding: 40px;
}
.container3 {
    margin-top: 0px;
    z-index: 1000;
}
.container-und {
    margin-bottom: -45px;
}
.con-about {
    padding: 160px 197px;
    display: flex;
    flex-direction: row-reverse;
    gap: 190px;
}
.no-reverse {
    flex-direction: row;
}
.form {
    width: calc(100% - (176px * 2));
    padding: 0px 176px;
}

.slider {
    display: flex;
    gap: 30px;
}
.slide-box {
    width: 100%;
    margin: 32px 20px;
    padding: 30px;
    border: 3px solid #3819F5;
    background: none;
}
.slide-box2 {
    width: 100%;
    margin: 32px 0px;
    padding: 0px;
    background: none;
}
.bdfb {
    text-align: left;
}

input {
    box-sizing: border-box;
    width: 100%;
    background: #F9F9F9;
    border: none;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding: 5px 20px;
}
input:focus {
    background: #F9F9F9;
    outline: none;
}
.input-btn {
    width: auto;
    background: #2A7CC7;
    padding: 15px 20px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    color: #ffffff;
    cursor: pointer;
}

    /* Вперед иназад кнопки */
    .prev, .next {
      cursor: pointer;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: #E74040;
      font-weight: bold;
      font-size: 45px;
      transition: 0.6s ease;
      user-select: none;
      display: none;
    }
    
.prev-next-bl {
    display: none;
}

.footer {
    display: flex;
    background: none;
}
.footer-bl-l {
    display: flex;
    width: 250%;
}
.footer-bl-r {
    display: block;
    width: 100%;
}
.footer-bl-l-bl {
    display: block;
    width: calc(100% - 30px);
    margin-right: 30px;
}
#footer-bl-l-bl1 {
    display: block;
}
#footer-bl-l-bl2 {
    display: block;
}
#footer-bl-l-bl3 {
    display: block;
}
#footer-bl-l-bl4 {
    display: block;
}

@media screen and (max-width: 1400px) {
    .header {
        padding-left: 100px;
        padding-right: 100px;
    }
    .con-about {
        padding: 100px 140px;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        padding-left: 50px;
        padding-right: 50px;
    }
    .btn-n {
        margin-right: 10px;
    }
    .header-list {
        display: none;
    }
    .header-brand-name {
        display: none;
    }
    .burger {
        display: block;
    }
    .con-about {
        padding: 60px 100px;
    }
    .img1 {
        width: 100%;
    }
    
    .form {
        width: 100%;
        padding: 0px 0px;
    }
    
    .slider {
        gap: 10px;
    }
    
    .slide-box{
        margin: 32px 0px;
    }
    .silder-flex {
        display: block;
    }
    #footer-bl-l-bl4 {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        gap: 0px;
    }
    .container2 {
        display: block;
        margin-top: 40px;
        gap: 0px;
    }
    .container3 {
        display: block;
        margin-top: 0px;
    }
    .con-about {
        display: block;
        padding: 45px;
    }
    h1 {
        font-size: 32px;
    }
    .big {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 18px;
        line-height: 28px;
    }
    .paragrah-desc {
        font-size: 17px;
        line-height: 28px;
    }
    .bdfb {
        text-align: center;
        width: 100%!important;
    }
    #footer-bl-l-bl3 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #footer-bl-l-bl2 {
        display: none;
    }
}

.btn-d-top {
    margin-top: 0px;
    min-width: 235px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.container-justify {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.separator {
     margin-top: 20px;
     margin-bottom: 20px;
     background: #E74040;
     width: 50px;
     height: 2px;
}
.wid-80 {
    width: 80%;
}
.separator-th {
    margin-top: 0px;
    margin-bottom: 20px;
    background: #E74040;
    width: 94px;
    height: 7px;
}
.desc-margintop {
    margin-top: 32px;
}
.title {
    margin-top: 32px;
    font-weight: 700;
}
.title-und {
    color: #E77C40;
    font-weight: 700;
}
.title-about {
    margin-top: 32px;
    width: 100%;
    max-width: 400px;
}
.black-p {
    color: #252B42;
    font-weight: 700;
}
.white-h {
    color: #ffffff;
    font-weight: 700;
}
.white-p {
    color: #ffffff;
}
.desc-margintop-minus {
    margin-top: -2px;
}
.footer-m-left {
    margin-left: 30px;
}
.footer-bl-content {
    color: #2d4059;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
}
.footer-bl-content-top {
    color: #2d4059;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}
.cont-notop {
    margin-top: 0px;
}
.tar-title {
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
}
.tar-pretitle {
    margin-top: 0px;
    font-weight: 700;
    font-size: 24px;
}
.teach-name {
    margin-top: 0px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 15px;
}
.teach-spec {
    margin-top: 12px;
    font-weight: 700;
    font-size: 17px;
}
.teach-about {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}